*{
  margin: 0px;
  padding: 0px;
}

body{
  font-family: BaronSans, Helvetica, Arial;
}

.nav-bar{
  background-color: rgb(0, 0, 0);
  width: auto;
  height:44px;
  margin: 0 0px;
  display: flex;
 
}

.nav-bar li{
  text-transform: uppercase;
  font-size: 11px;
  width: 200px;
  height: 30px;
  display: flex;
  justify-content: space-evenly;
  padding: 1rem;
  letter-spacing: 0.1rem;
}

.logo-nav{
  margin-right: auto;
  font-size:20px ;
}

a{
  outline: none;
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.code{
  margin: 0 0px;
  width:auto
}

.landing{
  background-color: burlywood;
  margin: 0 0px;
  width: 100%;
  height: 613px;
}

.skills-main, .education-main, .projects-main, .reviews-main, .about-main, .blogs-main, .contact-main{
  border-bottom: black;
  border-style: solid;
  background-color: rgb(250, 240, 226);
  margin: 0 0px;
  width: 100%;
  height: 657px;
}

.all-mains h2, .landing{
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  padding: 25px 0px 0px 0px;
}

.frontend-skills, .backend-skills, .web30-skills, .logic-skills{
  display: inline-flex;
  justify-content: space-around;
  border-style: solid;
  background-color: rgb(163, 151, 132);
  margin: 43px 0px 16px 37px;
  width: 21%;
  height: 580px;
}
